<div
    ng-init="landingID = (location||0)"
    class="text-center"
    style="display: table; height: {{height}}px ; width:100%;background-position:center;background-repeat: no-repeat;background-image: url('{{media.$getRecord(data.image[0]).mediaURL}}');background-size: 100% 100%"
   >

    <div class="clearfix"
        style=" width:100%;display:table-cell; color:#f5f5f5; font-size: 200%;  height:100%;vertical-align:middle; ">
        <h2 style="font-size: 200%">{{data.heading}}</h2>
        <h3 class="col-xs-6 col-xs-push-3 col-xs-pull-3" style="color:white">{{data.text}}</h3>
        <h1 class="col-xs-12 text-center">
              <a href="{{data.link}}" class="btn btn-lg btn-default">{{data.linkText}}</a>
        </h1>
    </div>



</div>
